* {
    box-sizing: border-box;
}
@font-face { font-family: montserrat-regular; src: local("Montserrat Regular"), local("Montserrat-Regular"), url("https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: swap; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face { font-family: icomoon; src: local("☺"), url("https://static.bewakoof.com/fonts/iconmoon/fonts/icomoon.ttf?bznh19=") format("truetype"), url("https://static.bewakoof.com/fonts/iconmoon/fonts/icomoon.woff?bznh19=") format("woff"), url("https://static.bewakoof.com/fonts/iconmoon/fonts/icomoon.svg?bznh19=#icomoon") format("svg"); font-style: normal; font-weight: 400; font-display: swap; }
body {
    font-family: 'Montserrat', 'Regular', sans-serif;
    margin: 0;
}

section{
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
}
section .imgbox {
    position: relative;
    width: 60%;
    background-image: linear-gradient(to bottom,#fffcf1,#fff4c7);
    border: 1px solid black;
 
    
}
section .imgbox img {
    position: absolute;
    top: 50px;
    left: 0;
}
section .loginbox {
    display: flex;
    width: 50%;
    height: 100%;
   justify-content: center;
   align-items: center;
}
section .loginbox .formbox{
    
    width: 60%;
}
section .loginbox .formbox .input-box{
    display: flex;
    border: 1px solid black;
  

}
section .loginbox .formbox .input-box img{
  
    width: 30px;
    
}
section .loginbox .formbox .input-box span {
   
    display: flex;
    background:gray;
}