/*
  PRIMARY COLOR -  #fdd835 
  SECONDARY COLOR - #51cccc
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #2d2d2d;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0 15px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  margin-bottom: 15px;
}

/**** MAIN NAVIGATION *****/

.main-nav {
  margin-bottom: 20px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.main-nav ul li a {
  text-decoration: none;
  color: #0e0e0e;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.7;
  padding: 21px 34px;
  display: inline-block;
}

.main-nav .active {
  border-bottom: 4px solid #fdd835;
}

.main-nav .active > a {
  font-weight: 600;
}

/**** BANNER CAROUSEL *****/

.section-banner-carousel {
  margin-bottom: 35px;
}

.carousel {
  position: relative;
}

.banner-carousel {
  display: flex;
  gap: 20px;

  overflow-x: hidden;
}

.banner-carousel a {
  flex-shrink: 0;
  flex-basis: 35%;
}

.banner-carousel a img {
  width: 100%;
  border-radius: 10px;
}

.btn {
  background: hsla(0, 0%, 100%, 0.4);
  width: 47px;
  height: 47px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  border: none;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--left {
  left: 30px;
}

.btn--right {
  right: 15px;
}

.btn-icon {
  height: 24px;
  width: 24px;
}

/* CAROUSEL PAGINATION */

.carousel-pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
}

.carousel-pagination span {
  width: 20px;
  height: 4px;
  border-radius: 2.5px;
  background-color: #dabd4e;
  opacity: 0.2;
  cursor: pointer;
}

.carousel-pagination .pagination-active {
  opacity: 1;
}

/* SECTION SLIDER */

.section-slider {
  margin-bottom: 35px;
}

.slider {
  display: flex;
  gap: 25px;
}

.slider-items {
  flex-basis: 11%;
}

.slider-items img {
  width: 100%;
  border-radius: 12px;
}

.slider-items p {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-top: 19px;
  letter-spacing: 0.05;
}

/* SECTION HOT DEALS */

.section-hot-deals .carousel {
  margin-bottom: 10px;
}

/* SECTION WHAT'S NEW*/

.section-whats-new {
  margin-top: 10px;
  margin-bottom: 35px;
}

.section-whats-new h3 {
  margin-bottom: 35px;
}

.whats-new {
  display: flex;
  gap: 30px;
}

.whats-new .carousel-item {
  flex-basis: 20%;
}

.whats-new .carousel-item img {
  width: 100%;
}

.whats-new .carousel-item a {
  text-decoration: none;
}

.whats-new .carousel-item .product-title {
  font-size: 12px;
  color: #2d2d2d;
  margin-top: 10px;
  font-weight: 500;
}

.whats-new .carousel-item .price {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}

.whats-new .carousel-item .discounted-price {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.whats-new .carousel-item .mrp {
  font-size: 12px;
  color: rgba(45, 45, 45, 0.5);
  text-decoration: line-through;
}

.whats-new .btn {
  border-radius: 0;
  top: 45%;
  cursor: pointer;
}

.whats-new .btn--left {
  left: -10px;
}

.whats-new .btn--right {
  right: 0;
}

.view-all {
  display: block;
  text-align: center;
  color: #42a2a2;
  font-size: 12px;
  font-weight: 700;
  margin-top: 35px;
}

.view-all:hover,
.view-all:visited {
  text-decoration: none;
}

/* SECTION CATEGORIES */
.section-categories {
  margin-top: 35px;
  margin-bottom: 60px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  row-gap: 20px;
  margin-top: 25px;
}

.categories .category-item {
  width: 150px;
}

.category-item img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.category-item p {
  font-size: 14px;
  letter-spacing: 0.06;
  font-weight: 600;
  margin-top: 18px;
  text-align: center;
  color: black;
}

/* SECTION TRENDING */

.section-trending {
  margin-bottom: 35px;
}

.section-trending h3 {
  margin-bottom: 35px;
}

/* SECTION DISCOUNT BANNERS */

.section-discount-banners {
  margin-bottom: 35px;
}

.section-discount-banners img {
  width: 100%;
  margin-bottom: 20px;
}

/* SECTION ACCESSORIES */

.section-accessories {
  margin-bottom: 60px;
}

.accessories {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  margin-top: 35px;
}

.accessory-item {
  max-width: 150px;
}

.accessory-item img {
  width: 100%;
  border-radius: 5px;
}

.accessory-item p {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 18px;
  letter-spacing: 0.05;
}

/* SECTION SUGGESTIONS */

.section-suggestions {
  margin-bottom: 100px;
}

.section-suggestions h3 {
  margin-bottom: 35px;
}

.suggestions {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

.suggestions div img {
  width: 100%;
}
